localhost:80 {
  root * /home/djoudj/WebstormProjects/ng-app-portfolio/dist/ng-app-portfolio
  file_server
  encode gzip zstd

  # Matcher pour assets statiques
  @staticAssets {
    path *.css *.js *.webp *.jpg *.jpeg *.png *.gif *.ico *.svg *.woff *.woff2 *.ttf *.eot *.pdf *.mp4 *.webm
  }

  header {
    # Global security headers
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-hashes' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; object-src 'none'; frame-ancestors 'self'; base-uri 'self'"
    X-Frame-Options "SAMEORIGIN"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
    Permissions-Policy "geolocation=(), microphone=(), camera=()"
    -Server
  }

  header @staticAssets {
    Cache-Control "public, max-age=31536000, immutable"
    Vary "Accept-Encoding"
  }

  try_files {path} /index.html
}
